body {
  background: url("../assets/BG2.jpg");
  background-size: cover;
}

* {
  margin: 0;
}

h3 {
  font-size: 30px;
}

.classicFont {
  font-family: "Tilt Prism", cursive;
}

.rapFont {
  font-family: "Sedgwick Ave Display", cursive;
}
