body {
  background: url("../assets/BG2.jpg");
  backdrop-filter: blur(10px);
  background-size: cover;
}

* {
  margin: 0;
}

h3 {
  font-size: 30px;
}

.classicBg {
  background: url("../assets/BG1.jpg");
  background-size: cover;
}

.rapBg {
  background: url("../assets/BG3.jpg");
  background-size: cover;
}

.classicFont {
  font-family: "Tilt Prism", cursive;
}

.rapFont {
  font-family: "Sedgwick Ave Display", cursive;
}
