body {
  background: url("../assets/BG2.jpg");
  background-size: cover;
}

* {
  margin: 0;
}

h3 {
  font-size: 30px;
}

.classicBg {
  background: linear-gradient(
      0deg,
      rgb(0, 0, 0) 0%,
      rgba(250, 230, 52, 0.589) 0.2%,
      rgba(245, 232, 119, 0.589) 50%,
      rgba(250, 230, 52, 0.589) 99.8%,
      rgb(0, 0, 0) 100%
    ),
    url("../assets/BG1.jpg");

  background-size: cover;
  background-position: 50% 60%;
}

.rapBg {
  background: linear-gradient(
      0deg,
      rgb(0, 0, 0) 0%,
      rgba(112, 2, 146, 0.589) 0.2%,
      rgba(110, 3, 96, 0.63) 50%,
      rgba(112, 2, 146, 0.589) 99.8%,
      rgb(0, 0, 0) 100%
    ),
    url("../assets/BG3.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

// .classicBg1 {
//   background: linear-gradient(
//     rgba(49, 44, 1, 0.877),
//     rgba(255, 237, 72, 0.274)
//   );
// }

.classicFont {
  font-family: "Tilt Prism", cursive;
}

.rapFont {
  font-family: "Sedgwick Ave Display", cursive;
}
