.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.849);
  font-family: "Bungee Shade", cursive;
  color: rgb(240, 26, 204);
}
