.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 30%,
    rgba(0, 0, 0, 0.747) 100%
  );
  font-family: "Bungee Shade", cursive;
  color: rgba(243, 152, 208, 0.795);
}
