.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 30%,
    rgba(0, 0, 0, 0.747) 100%
  );
  font-family: "Bungee Shade", cursive;
  text-align: center;
  width: 100%;
}

.headerLogo {
  width: 10vh;
  border-radius: 20px;
  border: 3px solid rgb(240, 26, 204);
  margin: 0 0.5rem;
}

.headerTitle {
  padding: 0.5rem;
  font-size: 40px;
  line-height: 35px;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title1 {
  color: rgba(104, 104, 253, 0.596);
}

.title2 {
  color: rgba(255, 255, 255, 0.63);
}

.title3 {
  color: rgba(255, 40, 40, 0.664);
}

@media screen and (max-device-width: 570px) {
  .headerTitle {
    font-size: 35px;
  }
}
