/*Container global*/

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 0.5rem 0;
  max-width: 1600px;
  margin: 0 auto;
}

/*Container individuel*/

.albumBox {
  margin: 0.5rem;
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 2px;
  transition: all 200ms;
  z-index: 0;
  cursor: pointer;
}

/*Container Altérnés*/

.albumBox--odd {
  display: flex;
  flex-direction: row-reverse;
}

.albumBox--even > div {
  margin-right: 1rem;
}

.albumBox--odd > div {
  margin-left: 1rem;
}

/*HOVER*/

.albumBox:hover {
  background-color: rgba(82, 82, 82, 0.822);
}

.albumBox:hover > .albumImageWrapper > .albumImage {
  transform: scale(1.02);
  border-radius: 2px;
}

.albumBox:hover > div > .albumTitle {
  color: #7cff77e3;
}

.albumBox:hover > div > .albumDuration {
  color: #7cff77e3;
}

.albumBox:hover > div > audio {
  background-color: #6cf567f3;
}

/*Contenue des box*/

.albumImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: ease-in-out 200ms;
  margin: 0 1rem;
}

.albumTitle {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.albumDuration {
  text-align: center;
  margin-top: 0.5rem;
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.albumAudioPreview {
  margin: 1rem auto;
}

audio {
  background-color: #000000a9;
  padding: 0.15rem;
  border-radius: 30px;
  transition: 400ms ease-in;
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*Le Vinyl*/

.albumImageWrapper {
  position: relative;
  height: 300px;
}

.discFillImage {
  width: 300px;
  position: absolute;
  top: 0%;
  left: -10%;
  opacity: 0;
  transform: translateX(20%);
  transition: 800ms ease-out;
  z-index: -1;
  animation: rotate 2s infinite linear;
}

.albumBox:hover .discFillImage {
  opacity: 1;
  transform: translateX(-20%) rotate(-720deg);
}

.discFillImageReverse {
  width: 300px;
  position: absolute;
  top: 0%;
  right: -10%;
  opacity: 0;
  transform: translateX(-20%);
  transition: 800ms ease-out;
  z-index: -1;
}

.albumBox:hover .discFillImageReverse {
  opacity: 1;
  transform: translateX(20%) rotate(720deg);
}

/*Media queries*/

@media screen and (max-device-width: 684px) {
  .albumBox {
    flex-direction: column;
    width: 340px;
    margin: 0.5rem;
  }

  .albumImageWrapper {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .albumImage {
    margin: 0 auto;
  }

  .albumTitle {
    margin: 0.5rem auto;
  }

  .albumAudioPreview {
    margin: 0rem auto;
  }

  .albumBox--even > div {
    margin-right: 0rem;
  }

  .albumBox--odd > div {
    margin-left: 0rem;
  }

  .albumTitle {
    margin: 0;
  }
  .albumDuration {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }

  /*vinyl en MOBILE*/

  .discFillImage {
    width: 250px;
    position: absolute;
    top: 8%;
    left: 13%;
    opacity: 0;
    transition: 800ms ease-out;
    transform: translateY(0%) rotate(720deg);
    z-index: -1;
  }

  .albumBox:hover .discFillImage {
    opacity: 1;
    transform: translateY(50%);
  }

  .discFillImageReverse {
    width: 250px;
    position: absolute;
    top: 8%;
    left: 13%;
    opacity: 0;
    transition: 800ms ease-out;
    transform: translateY(0%) rotate(720deg);
    z-index: -1;
  }

  .albumBox:hover .discFillImageReverse {
    opacity: 1;
    transform: translateY(50%);
  }
}

/*TEST SEQUENCE*/
