/*Container global*/

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 0.5rem 0;
  max-width: 1600px;
  margin: 0 auto;
}

/*Container individuel*/

.albumBox {
  margin: 0.5rem;
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(7, 8, 22, 0.856);
  border-radius: 20px;
  transition: all 200ms;
  z-index: 0;
}

/*Container Altérnés*/

.albumBox--odd {
  display: flex;
  flex-direction: row-reverse;
}

.albumBox--even > div {
  margin-right: 1rem;
}

.albumBox--odd > div {
  margin-left: 1rem;
}

/*HOVER*/

.albumBox:hover {
  background-color: rgba(59, 59, 59, 0.842);
}

.albumBox:hover > div > .albumImage {
  transform: scale(1.02);
  border-radius: 0%;
}

.albumBox:hover > div > audio {
  background-color: #13da0de3;
}

/*Contenue des box*/

.albumImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
  transition: ease-in-out 200ms;
  margin: 0 1rem;
}

.albumTitle {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.albumAudioPreview {
  margin: 1rem auto;
}

audio {
  background-color: #000000a9;
  padding: 0.15rem;
  border-radius: 30px;
  transition: 400ms ease-in;
}

audio::-webkit-media-controls-progress-bar {
  background-color: #cccccc;
  height: 10px;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #ccc;
  height: 10px;
}

audio::-webkit-media-controls-current-time-display {
  color: #000;
  font-size: 14px;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #000;
  font-size: 14px;
}

/*Le Vinyl*/

.albumImageWrapper {
  position: relative;
}

.discFillImage {
  width: 300px;
  position: absolute;
  top: 0%;
  left: -10%;
  opacity: 0;
  transform: translateX(20%);
  transition: 800ms ease-out;
  z-index: -1;
  animation: rotate 2s infinite linear;
}

.albumBox:hover .discFillImage {
  opacity: 1;
  transform: translateX(-20%) rotate(-720deg);
}

.discFillImageReverse {
  width: 300px;
  position: absolute;
  top: 0%;
  right: -10%;
  opacity: 0;
  transform: translateX(-20%);
  transition: 800ms ease-out;
  z-index: -1;
}

.albumBox:hover .discFillImageReverse {
  opacity: 1;
  transform: translateX(20%) rotate(720deg);
}

/*Media queries*/

@media screen and (max-device-width: 684px) {
  .albumBox {
    flex-direction: column;
  }

  .albumTitle {
    margin: 0.5rem auto;
  }

  .albumAudioPreview {
    margin: 0rem auto;
  }

  .albumBox--even > div {
    margin-right: 0rem;
  }

  .albumBox--odd > div {
    margin-left: 0rem;
  }

  /*vinyl en MOBILE*/

  .discFillImage {
    width: 250px;
    position: absolute;
    top: 8%;
    left: 10%;
    opacity: 0;
    transition: 800ms ease-out;
    transform: translateY(0%) rotate(720deg);
    z-index: -1;
  }

  .albumBox:hover .discFillImage {
    opacity: 1;
    transform: translateY(50%);
  }

  .discFillImageReverse {
    width: 250px;
    position: absolute;
    top: 8%;
    left: 10%;
    opacity: 0;
    transition: 800ms ease-out;
    transform: translateY(0%) rotate(720deg);
    z-index: -1;
  }

  .albumBox:hover .discFillImageReverse {
    opacity: 1;
    transform: translateY(50%);
  }
}

/*TEST SEQUENCE*/
