.buttonScroll {
  background-color: rgba(0, 0, 0, 0.849);
  z-index: 3;
  position: sticky;
  width: 100%;
  margin: 0 auto;
  border: 0px;
  color: white;
  padding: 1rem 0;
  cursor: pointer;
  transition: 200ms ease-in;
}

.buttonScroll:hover {
  background-color: rgba(17, 180, 39, 0.849);
}

.scrollDownButton {
  top: 95vh;
}

.scrollUpButton {
  top: 0vh;
}
