@charset "UTF-8";
body {
  background: url("../assets/BG1.jpg");
  background-size: cover;
  z-index: -3;
}

* {
  margin: 0;
  font-family: "Sedgwick Ave Display", cursive;
}

h3 {
  font-size: 30px;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
  text-align: center;
  width: 100%;
}

.headerLogo {
  width: 10vh;
  border-radius: 20px;
  padding: 0.5rem;
}

.headerTitle {
  padding: 0.5rem;
}

/*Index*/
.selectArtist {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.navLink_ArtistLinks {
  color: white;
  background-color: rgba(0, 0, 0, 0.849);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  transition: 400ms ease-out;
  text-decoration: none;
}

.navLink_ArtistLinks:hover {
  transform: scale(1.025);
}

.navLink_ArtistLinks:hover > .txtArtist {
  color: rgba(124, 255, 119, 0.8901960784);
}

.imgArtist {
  width: 300px;
  border-radius: 5px;
}

.txtArtist {
  text-align: center;
  padding-top: 1rem;
}

/*Retour à l'index*/
.navLinkBar {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.849);
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinkBar:hover > * {
  transform: scale(1.04);
  color: rgba(124, 255, 119, 0.8901960784);
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 10px;
}

.navLinkBar--Links {
  list-style: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  transition: 400ms ease-out;
  padding: 0.5rem 1rem;
}

.iconReturn {
  color: white;
  background-color: rgba(217, 67, 255, 0.884);
  border-radius: 7px;
  padding: 0.3rem;
  width: 20px;
  margin-right: 1rem;
}

/*Container global*/
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 0.5rem 0;
  max-width: 1600px;
  margin: 0 auto;
}

/*Container individuel*/
.albumBox {
  margin: 0.5rem;
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 2px;
  transition: all 200ms;
  z-index: 0;
  cursor: pointer;
}

/*Container Altérnés*/
.albumBox--odd {
  display: flex;
  flex-direction: row-reverse;
}

.albumBox--even > div {
  margin-right: 1rem;
}

.albumBox--odd > div {
  margin-left: 1rem;
}

/*HOVER*/
.albumBox:hover {
  background-color: rgba(82, 82, 82, 0.822);
}

.albumBox:hover > div > .albumImage {
  transform: scale(1.02);
  border-radius: 2px;
}

.albumBox:hover > div > .albumTitle {
  color: rgba(124, 255, 119, 0.8901960784);
}

.albumBox:hover > div > .albumDuration {
  color: rgba(124, 255, 119, 0.8901960784);
}

.albumBox:hover > div > audio {
  background-color: rgba(108, 245, 103, 0.9529411765);
}

/*Contenue des box*/
.albumImage {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: ease-in-out 200ms;
  margin: 0 1rem;
}

.albumTitle {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.albumDuration {
  text-align: center;
  margin-top: 0.5rem;
}

.albumAudioPreview {
  margin: 1rem auto;
}

audio {
  background-color: rgba(0, 0, 0, 0.662745098);
  padding: 0.15rem;
  border-radius: 30px;
  transition: 400ms ease-in;
}

/*Le Vinyl*/
.albumImageWrapper {
  position: relative;
  height: 300px;
}

.discFillImage {
  width: 300px;
  position: absolute;
  top: 0%;
  left: -10%;
  opacity: 0;
  transform: translateX(20%);
  transition: 800ms ease-out;
  z-index: -1;
  animation: rotate 2s infinite linear;
}

.albumBox:hover .discFillImage {
  opacity: 1;
  transform: translateX(-20%) rotate(-720deg);
}

.discFillImageReverse {
  width: 300px;
  position: absolute;
  top: 0%;
  right: -10%;
  opacity: 0;
  transform: translateX(-20%);
  transition: 800ms ease-out;
  z-index: -1;
}

.albumBox:hover .discFillImageReverse {
  opacity: 1;
  transform: translateX(20%) rotate(720deg);
}

/*Media queries*/
@media screen and (max-device-width: 684px) {
  .albumBox {
    flex-direction: column;
    width: 340px;
    margin: 0.5rem;
  }
  .albumImageWrapper {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .albumImage {
    margin: 0 auto;
  }
  .albumTitle {
    margin: 0.5rem auto;
  }
  .albumAudioPreview {
    margin: 0rem auto;
  }
  .albumBox--even > div {
    margin-right: 0rem;
  }
  .albumBox--odd > div {
    margin-left: 0rem;
  }
  .albumTitle {
    margin: 0;
  }
  .albumDuration {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  /*vinyl en MOBILE*/
  .discFillImage {
    width: 250px;
    position: absolute;
    top: 8%;
    left: 13%;
    opacity: 0;
    transition: 800ms ease-out;
    transform: translateY(0%) rotate(720deg);
    z-index: -1;
  }
  .albumBox:hover .discFillImage {
    opacity: 1;
    transform: translateY(50%);
  }
  .discFillImageReverse {
    width: 250px;
    position: absolute;
    top: 8%;
    left: 13%;
    opacity: 0;
    transition: 800ms ease-out;
    transform: translateY(0%) rotate(720deg);
    z-index: -1;
  }
  .albumBox:hover .discFillImageReverse {
    opacity: 1;
    transform: translateY(50%);
  }
}
/*TEST SEQUENCE*/
.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
}/*# sourceMappingURL=index.css.map */